.rule-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0;
    margin-bottom: 3rem;
    background-color: var(--lightest-background-color);
    border: 1px solid var(--divider-color);
    border-radius: var(--border-radius);

    .rule-category {
        margin: 0;
        padding: 1rem;
        background: none;
        border: none;

        @media screen and (min-width: 768px) {
            &:not(:first-child)::after {
                content: "";
                display: block;
                padding: 1px;
                border-left: 1px solid var(--divider-color);
                left: 0;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1023px), screen and (min-width: 1440px) {
            &:not(:first-child)::after {
                height: 70%;
                position: absolute;
            }
        }

        @media screen and (min-width: 1024px) and (max-width: 1439px) {
            &:nth-child(2)::after {
                height: 70%;
                position: absolute;
            }
        }
    }

    .rule-category__description {
        flex: 1 1 45ch;
    }
}

.rule-category {
    font-size: var(--step--1);
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: var(--border-radius);
    border: 1px solid var(--divider-color);
    background-color: var(--lightest-background-color);

    p {
        margin: 0;
    }

    .rule-category__description {
        flex: 1 1 30ch;
    }
}

a.rule {
    border-radius: var(--border-radius);
    background-color: var(--lightest-background-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: .5rem 0;
    position: relative;
    text-decoration: none;

    .content {
        flex: 1 1 35ch;
    }

    .name {
        font-weight: 500;
        font-size: .875rem;
        margin-bottom: .25rem;
        margin-block-end: .25rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .replacedBy {
        font-size: var(--step--1);
        display: none;
    }

    .description {
        font-size: var(--step--1);
    }

    &.hasReplacement {
        .replacedBy { display: inline; }
        .description { display: none; }
    }

    .deprecated, .removed {
        display: none;

        color: var(--color-rose-500);
        background: var(--color-rose-50);
        border-radius: var(--border-radius);
        font-weight: normal;
        margin-left: .5rem;
        margin-inline-start: .5rem;
        font-size: var(--step--1);
        padding: 0 .5rem;

        [data-theme="dark"] & {
            background: var(--body-background-color);
        }
    }

    &.deprecated .deprecated { display: inline-block; }
    &.removed .removed { display: inline-block; }
    &.removed.deprecated .deprecated { display: none; }

    .categories {
        font-size: .875rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: var(--border-radius);
        padding: 2px 4px;

        p {
            display: inline-flex;
            margin: 0;
            align-items: center;
        }

        [data-theme="dark"] & {
            background: var(--body-background-color);
        }

        span[aria-hidden="true"] {
            opacity: .25;
        }
    }

    &.deprecated, &.removed {
        .donotuse { display: inline; }
        .recommended { display: none; }
    }

    &.removed {
        .fixable, .hasSuggestions { display: none; }
    }
}

/* related rules */

.related-rules__list {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: start;
}

.related-rules__list__item {
    svg {
        color: inherit;
    }

    a {
        text-decoration: none;
        color: var(--headings-color);
        padding: .625rem;
        display: inline-flex;
        gap: .5rem;
        align-items: center;
        border: 1px solid var(--divider-color);
        border-radius: var(--border-radius);
        background-color: var(--lightest-background-color);

        &:hover {
            color: var(--link-color);
            background-color: var(--lighter-background-color);
        }
    }
}

a.rule-list-item + a.rule-list-item::before {
    content: ",";
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
